dify_receipt.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Dify×LINE レシート管理システム
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1734084642746-source-1734084659083-target
      source: '1734084642746'
      sourceHandle: source
      target: '1734084659083'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1734084659083-source-1734084720969-target
      source: '1734084659083'
      sourceHandle: source
      target: '1734084720969'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: receipt
          max_length: 48
          options: []
          required: true
          type: file
          variable: receipt
      height: 90
      id: '1734084642746'
      position:
        x: 78.94135254975265
        y: 282
      positionAbsolute:
        x: 78.94135254975265
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            json_schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"\
              total_amount\": {\n      \"type\": \"string\",\n      \"description\"\
              : \"合計金額\"\n    }\n  },\n  \"required\": [\n    \"total_amount\"\n \
              \ ]\n}"
            response_format: json_schema
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash
          provider: google
        prompt_template:
        - id: 9b2f7750-f18e-4e7f-8a20-b3ce750e3e4b
          role: system
          text: レシートから「合計」を抽出して、JSON形式で出力してください。
        - id: f38ad63b-4558-4df8-87a0-2786216f3102
          role: user
          text: '{{#1734084642746.receipt#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: false
      height: 98
      id: '1734084659083'
      position:
        x: 378.96423831521247
        y: 282
      positionAbsolute:
        x: 378.96423831521247
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1734084659083'
          - text
          variable: text
        selected: false
        title: 終了
        type: end
      height: 90
      id: '1734084720969'
      position:
        x: 684.5391301545351
        y: 282
      positionAbsolute:
        x: 684.5391301545351
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -305.9691861923119
      y: 60.79166212584704
      zoom: 0.7345820730096421
